<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/css/CustomeStyle.css" rel="stylesheet" />
</head>
<body>

    <nav>
        <ul>
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Home/About">About</a></li>
            <li><a href="/Home/Contact">Contact</a></li>
            <li><a href="/Home/Blog">Blog</a></li>
            <li><a href="/Home/Services">Services</a></li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>